@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*, *::before, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  color-scheme: dark light;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  padding: 0.5rem;
  border: none;
  outline-color: transparent;
  padding: 0.5rem 1.5rem;
  transition: 0.5s;
}

button:hover {
  background: #e4f1f6f1;
  cursor: pointer;
}

.btn-light:hover {
  background: yellowgreen;
}

.data li {
  border-bottom: 1px solid #ccc;
  margin: 5px;
  text-align: left;
  list-style: none;
  width: fit-content;
  padding: 0.4rem 0;

}

.btn-bg {
  background: yellowgreen;
}